.oneItem{
    width: 5px;
    margin: 0 2px;
    display: inline-block;
}

.oneItemCompleted{
    width: 5px;
    margin: 0 2px;
    display: inline-block;
}

button{
    margin: 5px;
}

.explainingGifs{
    margin-top: 10rem;
}

.explainingGifs img {
    width: 15%;
}